body {
  background-color: grey;
  text-align: center;
}

.parakeetContainer {
  display: flex;
  border: 1px solid red;
  font-family: helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
}

.Jim {
  border: 1px solid green;
  background-color: blue;
}

.Edith {
  border: 1px solid pink;
  background-color: teal;
}

.Kenneth {
  border: 1px solid grey;
  background-color: magenta;
}

.Josie {
  border: 1px solid pink;
  background-color: yellow;  
}

@media screen and (max-width: 900px) {
  body {
    background-color: salmon;
    color: yellow;
  }

}
@media screen and (max-width: 580px) {
  body {
    background-color: yellow;
    color: purple;
  }

}

img {
  height: 500px;
  width:500px;
}

.Jim, .Edith, .Kenneth, .Josie {
  width: 100vw;
  
}